{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block body %}
    <h1>Liste des formations proposées</h1>
    {% for training in trainings %}
        <a href="{{ path('show_training', {id:training.id}) }}">{{training.name}} <br></a>
    {% endfor %}
{% endblock %}
