{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block body %}
    <h2>Type de formations proposées</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Formation</th>
            </tr>
        </thead>
        <tbody>
            {% for training in trainings %}
            <tr>
                <td>

                <a class="link-dark" href="{{ path('show_training', {id:training.id}) }}"><div>{{training.name}}</div></a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
