{% extends 'base.html.twig' %}

{% block title %}Détail d'un training {% endblock %}

{% block body %}
    <h1>Liste des sessions pour la formation de {{training.name | lower}}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sessions</th>
            </tr>
        </thead>
        <tbody>
            {% for session in training.sessions %}
                <tr>
                    <td><a class="link-dark" href="{{path('show_session', {'id': session.id})}}">{{session.name}}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    

{% endblock %}